/*todo cssの使い方を学んで修正する*/

* {
    margin: 0;
    padding: 0;
    word-braek: break-all
}

.logo-box {
    padding: 20px;
}

body {
    padding-top: 80px;
}

ul {
    list-style: none;
}

.paging-nav {
    text-align: center;
}

.paging-nav > li {
    display: inline-block;
}

.paging-nav > li:not(:first-child) {
    margin-left: 30px;
}

.profile-box {
    padding: 12px;
}

aside figcaption {
    font-size: 25px;
    margin-top: 10px;
}

aside .member-image {
    width: 120px;
    height: 120px;
}

.tweet-area {
    resize: none;
}

.tweet-button {
    margin-top: 15px;
}

article .member-image {
    width: 38px;
    height: 38px;
}

article figcaption {
    display: inline-block;
    font-size: 24px;
    line-height: 50px;
    margin-left: 10px;
}

.tweet-contents {
    font-size: 25px;
    margin: 10px;
}

.count-box {
    font-size: 15px;
    padding: 5px;
}

.success {
    color: green;
    margin-bottom: 20px;
}