@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)

<!DOCTYPE html>
@*<html xmlns="http://www.w3.org/1999/html">*@
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@title</title>
        <link rel="shortcut icon" type="image/ico" href="@routes.Assets.at("images/favicon.ico")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-material-design.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/ripples.css")">
        <script src="@routes.Assets.at("javascripts/jquery-3.1.0.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.validate.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
        <script src="@routes.Assets.at("javascripts/material.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/ripples.js")"></script>
        <script src="@routes.Assets.at("javascripts/hello.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.simplePagination.js")"></script>
        <script>$.material.init();</script>
        <style>body { padding-top: 80px;  }</style>
    </head>
    <body>
        <header class="navbar navbar-default navbar-fixed-top">
            <nav class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-menu-2">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.TweetController.timeline">Shacotter</a>
                </div>

                <div class="navbar-collapse collapse navbar-responsive-collapse" id="nav-menu-2">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@routes.TweetController.index">マイページ</a></li>
                        <li><a href="@routes.MemberController.edit">プロフィール編集</a></li>
                        <li><a href="@routes.TweetController.timeline">タイムライン</a></li>
                        <li><a href="@routes.MemberController.list">メンバー一覧</a></li>
                        <li><a href="@routes.AuthController.logout">ログアウト</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        @content
    </body>
</html>