@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)(implicit req: RequestHeader)

<!DOCTYPE html>
@*<html xmlns="http://www.w3.org/1999/html">*@
<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-3.1.0.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.validate.min.js")"></script>
        <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/hello.js")"></script>
    </head>
    <body>
        <header class="container-fluid bHead" style="background-color: gray;
            padding: 20px">
            <div class="container">
                <div class="pull-left" style="font-size: 20px">Twitter(仮)</div>
                <a href="@routes.AuthController.logout" class="btn btn-default pull-right" style="margin-left: 10px">
                    ログアウト</a>
                <a href="@routes.MemberController.list" class="btn btn-default pull-right" style="margin-left: 10px">
                    メンバー一覧</a>
                <a href="@routes.MemberController.edit" class="btn btn-default pull-right" style="margin-left: 10px">
                    データ編集</a>
                <a href="@routes.TweetController.index" class="btn btn-default pull-right" style="margin-left: 10px">
                    マイページ</a>
                <a href="@routes.TweetController.timeline" class="btn btn-default pull-right" style="margin-left: 10px">
                    タイムライン</a>
            </div>
        </header>
        @content
    </body>
</html>
