@(form: Form[models.Forms.StatusForm])(implicit req: RequestHeader)

@main("edit") {

    @helper.form(routes.MemberController.update) {
        <h1>edit</h1>
        @form.globalError.map { error =>
            <p class="error">
                @error.message
            </p>
        }
        <p>
            <input type="name" name="name" placeholder="Your name" id="name" value="">
        </p>
        <p>
            <input type="email" name="email" placeholder="Your Email" id="email" value="">
        </p>
        <p>
            <input type="password" name="password" id="password" placeholder="Your Password">
        </p>
        <p>
            <button type="submit" id="signupbutton">Signup</button>
        </p>
    }
}