@(me: String, tweetInfo: Seq[models.Forms.TweetInfo], form: Form[models.Forms.Tweet])
@main("ツイート") {
    <div class="container">
        <section class="row">
            <aside class="col-sm-4">
            @helper.form(routes.TweetController.tweet) {

                @form.error("mail").map { message =>
                    <p class="error">
                        @message.message
                    </p>
                }

                <figure class="profile-box">
                    <img class="member-image" src="@routes.Assets.at("images/egg.png")">
                    <figcaption class="member-name">@me</figcaption>
                </figure>
                <main class="form-group label-floating">
                    <textarea class="form-control tweet-area" name="tweet" rows="3" placeholder="let's tweet!"></textarea>
                    <input type="submit" class="btn btn-raised btn-primary tweet-button" value="ツイートする">
                </main>
            }
            </aside>

            <main class="col-sm-8">
                <ul class="tweet-list">
                @tweetInfo.reverse.map { tweet =>
                    <li>
                        <article id="@tweet.tweet_id" class="tweet-box panel panel-default well">
                            <figure>
                                <img class="member-image" src="@routes.Assets.at("images/egg.png")">
                                <figcaption class="member-name">@tweet.name</figcaption>
                            </figure>
                            <main class="tweet-contents">
                                <i>@tweet.tweet</i>
                            </main>
                            <footer> 
                                @if(tweet.currentState == 1) {
                                    <button class="jsc-good btn btn-success" type="button">いいね</button>
                                } else {
                                    <button class="jsc-good btn " type="button">いいね</button>
                                }
                                 <span class="good-count count-box">@tweet.goodCount</span> 

                                @if(tweet.currentState == 0) {
                                    <button class="jsc-bad btn btn-danger" type="button">どうでもいいね</button> 
                                } else {
                                    <button class="jsc-bad btn " type="button">どうでもいいね</button> 
                                }
                                <span class="bad-count count-box">@tweet.badCount</span>
                            </footer>
                        </article>
                    </li>
                }
                </ul>
            </main>
        </section>
    </div>
}
