@(memberInfo: models.Forms.MemberInfo, tweetInfo: Seq[models.Forms.TweetInfo], form: Form[models.Forms.Tweet], currentPage: Int = 0)(implicit flash: Flash)
    @import utils.EvaluateStatesCode._
@main("Shacotter") {
    <div class="container">
        @flash.get("message").map { success =>
            <div class="success text-center">
                @success
            </div>
        }

        <section class="row">
            <aside class="col-sm-4">
            @helper.form(routes.TweetController.tweet) {

                @form.error("tweet").map { message =>
                    <p class="error">
                        @message.message
                    </p>
                }

                <figure class="profile-box">
                    @if(memberInfo.icon.isDefined) {
                        <a id="image-link" href="@routes.ImageFileController.download(memberInfo.memberId)" title="クリックでダウンロード">
                            <img class="member-image" src="data:image/png;base64,@memberInfo.icon.get.imageData">
                        </a>
                    } else {
                        <img class="member-image" src="@routes.Assets.at("images/egg.png")">
                    }
                    <figcaption class="member-name">@memberInfo.memberName</figcaption>
                </figure>
                <main class="form-group label-floating">
                    <textarea class="form-control tweet-area" name="tweet" rows="3" placeholder="let's tweet!"></textarea>
                    <input type="submit" class="btn btn-raised btn-primary tweet-button" value="ツイートする">
                </main>
            }
            </aside>

            <main class="col-sm-8">
            @if(tweetInfo.isEmpty) {
                <div class="well text-center">
                    ツイートはありません｡
                </div>
            } else {
                <ul class="paging-nav">
                    <li>
                    @if(currentPage != 0) {
                        <a href="@routes.TweetController.timeline(Some(currentPage - 1))">
                            前の30件へ
                        </a>
                    }
                    </li>
                    <li>
                        @(currentPage + 1)ページ目
                    </li>
                    <li>

                    @if(tweetInfo.length == 30) {
                        <a href="@routes.TweetController.timeline(Some(currentPage + 1))">
                            次の30件へ
                        </a>
                    }
                    </li>
                </ul>

                <ul class="tweet-list">
                @tweetInfo.map { tweet =>
                    <li>
                        <article id="@tweet.tweet_id" class="tweet-box panel panel-default well">
                            <figure>
                                @if(tweet.icon.isDefined) {
                                    <img class="member-image" src="data:image/png;base64,@tweet.icon.get.imageData">
                                } else {
                                    <img class="member-image" src="@routes.Assets.at("images/egg.png")">
                                }
                                <figcaption class="member-name">@tweet.memberName</figcaption>
                            </figure>
                            <main class="tweet-contents">
                                <i>@tweet.tweet</i>
                            </main>
                            <footer> 
                                @if(tweet.currentState == good) {
                                    <button class="jsc-good btn btn-success" type="button">いいね</button>
                                } else {
                                    <button class="jsc-good btn" type="button">いいね</button>
                                }
                                 <span class="good-count count-box">@tweet.goodCount</span> 

                                @if(tweet.currentState == bad) {
                                    <button class="jsc-bad btn btn-danger" type="button">どうでもいいね</button> 
                                } else {
                                    <button class="jsc-bad btn " type="button">どうでもいいね</button> 
                                }
                                <span class="bad-count count-box">@tweet.badCount</span>
                            </footer>
                        </article>
                    </li>
                }
                </ul>

                <ul class="paging-nav">
                    <li>
                    @if(currentPage != 0) {
                        <a href="@routes.TweetController.timeline(Some(currentPage - 1))">
                            前の30件へ
                        </a>
                    }
                    </li>
                    <li>
                        @(currentPage + 1)ページ目
                    </li>
                    <li>

                    @if(tweetInfo.length == 30) {
                        <a href="@routes.TweetController.timeline(Some(currentPage + 1))">
                            次の30件へ
                        </a>
                    }
                    </li>
                </ul>
            }
            </main>
        </section>
    </div>
}
