@(me: String, tweetInfo: Seq[(String, Int, String, Int, Int, Option[Int])], form: Form[models.Forms.Tweet])

    @main("ツイート")
        <div class="container">
            <div class="row">
                @*-----------------------------------------------------------------------------------------*@
                <div class="col-sm-4" style="padding: 20px">
                @helper.form(routes.TweetController.tweet) {
                    @form.globalError.map { error =>
                        <p class="error">
                            @error.message
                        </p>
                    }
                    <div style="padding: 12px">
                        <img class="circle" src="@routes.Assets.at("images/egg.png")">
                        <p style="font-size: 25px;
                            margin: 10px">@me</p>
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label" for="tweet">Let's tweet!</label>
                        <textarea class="form-control" name="tweet" rows="3" id="tweet" style="resize: none;" value="" ></textarea>
                        <button type="submit" class="btn btn-raised btn-primary" id="tweet" style="margin-top: 15px;" >ツイートする</button>
                    </div>
                }
                </div>

                <div class="col-sm-8" style="padding: 20px">
                @tweetInfo.reverse.map { tweet =>
                    @*----------------------------ツイートボックス-----------------------------*@
                    <article class="panel panel-default well">
                        <div>
                            <img src="@routes.Assets.at("images/egg.png")" style="width: 38px;
                                height: 38px">
                            <span style="font-size: 25px;
                                margin: 10px">@tweet._1 </span>
                        </div>
                        <div style="font-size: 25px;
                            margin: 10px;
                            word-break: break-all;">
                        @tweet._3
                        </div>
                        <div> 
                            @if(tweet._6.getOrElse(-1) == 1) {
                                <button class="good btn btn-success" value="1" type="button">いいね</button>
                            } else {
                                <button class="good btn " value="0" type="button">いいね</button>
                            }
                             <span class="good-count" style="font-size: 15px;
                                padding: 5px">@tweet._4</span> 
                            @if(tweet._6.getOrElse(-1) == 0) {
                                <button class="bad btn btn-danger" value="1" type="button">
                                    どうでもいいね</button> 
                            } else {
                                <button class="bad btn " value="0" type="button">どうでもいいね</button> 
                            }
                            <span class="bad-count" style="font-size: 15px;
                                padding: 5px">@tweet._5</span>
                             <span class="tweetId" hidden>@tweet._2</span> 
                        </div>
                    </article>
                    @*----------------------------ツイートボックス-----------------------------*@
                }
                </div>
            </div>
        </div>
    }
