@(me: String, users: Seq[(Int, String, Option[Int])], form: Form[models.Forms.Tweet])(implicit req: RequestHeader)


@main("ユーザ一覧") {
    <div class="container">
        <div class="row">
            <div class="col-sm-8" style="padding: 20px">
                <table class="table table-hover">
                @users.map { user =>
                    <tr>
                        <td>
                            <a href="@routes.TweetController.profile(user._1)"> @user._2 </a>
                            <div id="member@user._1" class="pull-right">
                            @if(user._3.getOrElse("test") != "test") {
                                <button type="button" class="btn btn-primary" onclick="remove(@user._1)">フォロー中</button>
                            } else {
                                <button type="button" class="btn" onclick="follow(@user._1)">フォロー</button>
                            }
                            </div>
                        </td>
                    </tr>
                }
                </table>
            </div>
        </div>
    </div>
    @*<footer style="background-color: gray">Footer</footer>*@
}
