@(me: String, users: Seq[(Int, String, Option[Int])], form: Form[models.Forms.Tweet])

@main("メンバー一覧 - Shacotter") {
    <div class="container">
        <div class="row">
        @users.map { user =>
            <div class="col-sm-4">
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="row-picture">
                            <img src="@routes.Assets.at("images/egg.png")" alt="icon">
                        </div>

                        <div class="row-content">
                            <div class="list-group-item-text">
                                <h2><a href="@routes.TweetController.profile(user._1)"> @user._2 </a></h2>

                                <div id="member@user._1">
                                @if(user._3.getOrElse("test") != "test") {
                                    <button type="button" class="btn btn-primary btn-raised" onclick="remove(@user._1)">
                                        フォロー中</button>
                                } else {
                                    <button type="button" class="btn btn-raised" onclick="follow(@user._1)">フォロー</button>
                                }
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="list-group-separator"></div>

                </div>
            </div>
        }
        </div>
    </div>
}
