@(form: Form[models.Forms.LoginForm])(implicit flash: Flash)
<!DOCTYPE html>

<html>
    <head>
        <title>Login</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-3.1.0.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.validate.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/jQueryRotate.js")"></script>
        <script src="@routes.Assets.at("javascripts/login.js")"></script>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap-material-design.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/ripples.css")">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
        <script src="@routes.Assets.at("javascripts/material.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/ripples.js")"></script>
        <script>$.material.init();</script>
    </head>
    <body>
        <div class="container">
            <div id="banner" class="page-header">
                <div class="row">

                    <div class="col-sm-6 text-center">
                        <h1>Welcome</h1>
                        <p class="lead">"Shacotter" is Twitter-Clone-Application.<br>You can evaluate the tweet of friends easily<br>by using "いいね" or "どうでもいいね".</p>
                        <div style="padding: 20px;">
                            <img id="eval" class="img-responsive center-block" src="@routes.Assets.at("images/eval.png")" alt="icon">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="well text-center">
                        @helper.form(routes.AuthController.auth) {
                            @form.globalError.map { error =>
                                <p class="error">
                                    @error.message
                                </p>
                            }
                            @flash.get("success").map { message =>
                                <p class="success">
                                    @message
                                </p>
                            }
                            <div class="form-group">
                                <p><input class="required form-control" type="email" name="email" placeholder="Email" id="email" value=""></p>
                            </div>
                            <div class="form-group">
                                <p><input class="required form-control" type="password" name="password" id="password" placeholder="Password"></p>
                            </div>
                            <button class="btn btn-raised btn-primary" type="submit" id="loginbutton">Login</button>
                            <p>
                                if you don't have your account, please <a href="@routes.AuthController.signup()">
                                Sign up!</a>
                            </p>
                        }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>