@(form: Form[LoginForm])(implicit flash: Flash)

    @main("Login") {
        @helper.form(routes.AuthController.login) {
                <h1>Welcome</h1>
                @form.globalError.map { error =>
                    <p class="error">
                        @error.message
                    </p>
                }
                @flash.get("success").map { message =>
                    <p class="success">
                        @message
                    </p>
                }
                <p>
                    <input type="email" name="email" placeholder="Email" id="email" value="">
                </p>
                <p>
                    <input type="password" name="password" id="password" placeholder="Password">
                </p>
                <p>
                    <button type="submit" id="loginbutton">Login</button>
                    <button type="button" id="signupbutton" onclick="location.href = '@routes.AuthController.signup'">
                        Signup</button>
                </p>
        }
    }